*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background:#fff0d1;
    background-image: url(Wallpaper1.svg);
}
header{
    height: 60px;
    width: 100%;
    background: rgba(11, 10, 10, 0.932);
    color: white;
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
        display: none;
        cursor: pointer;

    }
    .nav-list li:hover{
        font-weight: 900;
    }
nav ul li{
    list-style: none ;
    display : inline;
    margin-right: 20px;
    font-weight: 500;
}
.brand-name{
    color: #FFF0D1;
    font-family: "Mifelin", serif;
    letter-spacing: 2.5px;
    font-size: 28px;
}
.hero{
    width:100%;
    height: auto;
    background: url(bgrecipes.svg);
    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #361F13;
    
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
}
.hero h2{
    font-size:40px ;
    margin-bottom: 10px;
    text-shadow: 2px 0 black;
    font-family: "Mifelin", serif;
    letter-spacing: 2.5px;
}
.hero p{
    font-size:18px ;
    margin-bottom: 10px;
    
}
.search-box{
    max-width: 550px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
    width: 70%;
    padding: 5px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(245, 37, 9);
}
.search-box button{
    
    padding: 5px 10px;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background: rgb(245, 37, 9);
    color:white;
    cursor: pointer;

}
.recipes{
    padding: 50px 0;
}
.recipes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}
.recipe-section{
    width:90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px ,1fr));
    column-gap: 10px;
}
.recipe-card{
    background: #f9f0dc;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.recipe-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.recipe-card h2{
    font-size: 22px;
    padding: 20px;
}
.recipe-card p{
    font-size: 18px;
    padding: 20px;
}
.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
}
footer{
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}
@media only screen and (min-width:768px){
    .menu-icon{
        display: none;
    }
    .nav-list{
        display: block;
    }
}
@media only screen and (max-width: 768px){
    .hero h2{
        font-size: 28px;
    }
    .hero p{
        font-size: 15px;
    }
}